version: '3.8'

services:
  web: #Название сервиса(контейнера)
    build: # сборка -> где искать dockerfile и его название
      context: .
      dockerfile: Dockerfile
    ports: # Порты для работы сервера. "наружу:внутри"
      - "8000:8000"
    env_file:
      - .env  
    volumes:
      - .:/app # Bind mount (для разработки) Всё что делаем на хосте потом в контейнере.
      - static_files:/app/static #специальная папка управляемая Docker для баз данных и другого
    healthcheck:
      test: ["CMD", "python", "myproject/manage.py", "check"]
      interval: 30s #Проверяем работу контейнера с интервалом 30 секунд
      timeout: 10s
      retries: 3
      start_period: 60s
    depends_on:  # Добавляем зависимость для БД
      db:
        condition: service_healthy
    deploy:  # Ограничение ресурсов
      resources:
        limits:
          cpus: '0.75'      # Не более 75% CPU
          memory: 2048M     # Не более 2048MB RAM
        reservations:
          cpus: '0.30'     # Гарантировано 30% CPU
          memory: 1024M     # Гарантировано 1024MB RAM
  db:  # Новый контейнер с базой данных
    image: mysql:8.0
    ports:
    - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=${DATABASE_PASSWORD}
      - MYSQL_DATABASE=${DATABASE_NAME}
      - MYSQL_USER=${DATABASE_USER}
      - MYSQL_PASSWORD=${DATABASE_PASSWORD}
      - MYSQL_AUTHENTICATION_PLUGIN=${DATABASE_AUTH}
    volumes:
      - mysql_data:/var/lib/mysql  # том для данных БД
    healthcheck:  # ← healthcheck для БД
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

volumes:
  static_files:
  mysql_data: