name: CI/CD Pipeline

on:
  push: #Триггер для push
    branches: [main]

  pull_request: #Триггер для pull-request
    branches: [main]

  workflow_dispatch: #Ручной запуск workflow

jobs:
  build:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Clear container
      run: |
        docker compose down

    - name: .env File 
      run: | #Here document, либо echo для каждой строки
        cat >> .env << EOF 
        DJANGO_SECRET_KEY=${{ secrets.DJANGO_SECRET_KEY }}
        DATABASE_HOST=${{ secrets.DATABASE_HOST }}
        DATABASE_NAME=${{ secrets.DATABASE_NAME }}
        DATABASE_USER=${{ secrets.DATABASE_USER }}
        DATABASE_PASSWORD=${{ secrets.DATABASE_PASSWORD }}
        DATABASE_PORT=${{ secrets.DATABASE_PORT }}
        DATABASE_AUTH=${{ secrets.DATABASE_AUTH }}
        APP_PORT=${{ secrets.APP_PORT }}
        EOF

    - name: Docker-compose
      run: |
        docker compose up -d --build
        sleep 60
        docker compose ps

    - name: Run Django migrations
      run: |
        docker compose exec web python myproject/manage.py migrate
    
    - name: Check_containers
      run: |
        if docker-compose ps | grep -q "Up"; then
          echo "All containers are running"
        else
          echo "Some containers failed to start"
          docker-compose logs
          exit 1
        fi

    - name: 1 Test
      run: |
        if curl -f http://localhost:${{ secrets.APP_PORT }}; then
          echo "Web application is healthy"
        else
          echo "Web application health check failed"
        exit 1
        fi

        DATABASE_RESPONSE=$(curl -s http://localhost:${{ secrets.APP_PORT }}/check_db)
        # Если /check_db возвращает любой ответ без ошибок - считаем что БД работает
        if curl -s -f http://localhost:${{ secrets.APP_PORT }}/check_db; then
          echo "✅ Database connection working (/check_db endpoint responds)"
        else
          echo "❌ Database connection failed (/check_db endpoint not responding)"
          exit 1
        fi
    